<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
            Address Book Details
        </div>
        <button class="add-button" (click)="onAddUser()">
            <img src="../assets/plus.svg" alt="">
            Add Person
        </button>
    </div>
</div>
<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">
            <tr>
                <!--Table header-->
                <th>id</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>phoneNumber</th>
                <th>email</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>zipCode</th>
                <th>country</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let addAddressBook of addressbookdata">
                 <td>{{addAddressBook.id}}</td>
                <td>{{addAddressBook.firstName}}</td>
                <td>{{addAddressBook.lastName}}</td>
                <td>{{addAddressBook.phoneNumber}}</td>
                <td>{{addAddressBook.email}}</td>
                <td>{{addAddressBook.address}}</td>
                <td>{{addAddressBook.city}}</td>
                <td>{{addAddressBook.state}}</td>
                <td>{{addAddressBook.zipCode}}</td>
                <td>{{addAddressBook.country}}</td>
                <td>
                    <img src="../assets/edit.svg" (click)="updateById(addAddressBook.id)" />
                    <img src="../assets/delete.svg" (click)="deleteAddresssBookById(addAddressBook.id)" />
                </td>
            </tr>
        </table>
    </div>
</div>
